@charset "UTF-8";

/* Breakpoints Values:
    CELULAR PEQUENO:----0 - 576px 
    CELULAR:------------576px - 768px
    TABLET:-------------768px - 992px
    NOTEBOOK:-----------992px - 1200px
    DESKTOP:------------1200px - 1400px
    TV:---------------- >1400px
*/
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px){
    #login_sec > .form_login{
        top: 25%;
        position: relative;
    }
    #login_sec{
        text-align: left;
        font-size: 1.4em;
    }
    #login_sec > .kita{
        float: left;
        width: 40%;
        height: 100%;
    }
    #login_sec > .form_login{
        float: right;
        width: 60%;
        height: 100%;
    }
    #forgot{
        font-size: 0.7em;
    }
    form > #enviar[type=submit]{
        width: 70%;
        margin: 0px;
    }
    form > #forgot{
        display: block;
        width: 65%;
        text-align: center;
        margin: 0px;
    }
}

/* NOTEBOOKS */
@media screen and (min-width: 992px) and (max-width: 1200px){
   
    #login_sec{
        width: 80vw;
        text-align: center;
    }
    #login_sec > .kita{
        background-size:100% 100%;
        background-position: center;
    }
    form > #forgot{
        width: 40%;
        margin: auto;
    }
}
/* DESKTOPS */
@media screen and (min-width: 1200px){
    #login_sec{
        width: 80vw;
        text-align: left;
        font-size: 1em;
        padding: 0px;
    }
    #login_sec > .form_login{
        float: left;
        width: 60%;
        height: 100%;
    }
    #login_sec > .kita{
        float: right;
        width: 40%;
        height: 100%;
    }
    #forgot{
        font-size: 1em;
    }
    h1, p{
        font-size: 2em;
    }
    form > #enviar[type=submit]{
        width: 28.5%;
        margin: 0px;
    }
    form > #forgot{
        width: 25%;
        margin: 0px;
    }
    }
